[submodule "ROS_auto_robot/oefen_rf/NRF24L01-PA-LNA-Testing-Scripts"]
	path = ROS_auto_robot/oefen_rf/NRF24L01-PA-LNA-Testing-Scripts
	url = git@github.com:moggiex/NRF24L01-PA-LNA-Testing-Scripts.git
[submodule "Transeiving_Car_Test"]
	path = Transeiving_Car_Test
	url = git@github.com:Rikkopanda/Transeiving_car_test.git
[submodule "microros_ws/src/uros/micro_ros_msgs"]
	path = microros_ws/src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
[submodule "microros_ws/src/uros/micro-ROS-Agent"]
	path = microros_ws/src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "RosBridge_Implementations"]
	path = RosBridge_Implementations
	url = git@github.com:Rikkopanda/RosBridge_Implementations.git
